<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Instructivo-del-Desafio" data-toc-modified-id="Instructivo-del-Desafio-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Instructivo del Desafio</a></span></li><li><span><a href="#Setup" data-toc-modified-id="Setup-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Setup</a></span></li><li><span><a href="#DATASETS" data-toc-modified-id="DATASETS-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DATASETS</a></span></li><li><span><a href="#Limpiezas-necesarias-para-resolver" data-toc-modified-id="Limpiezas-necesarias-para-resolver-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limpiezas necesarias para resolver</a></span></li><li><span><a href="#Respuestas" data-toc-modified-id="Respuestas-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Respuestas</a></span><ul class="toc-item"><li><span><a href="#Crear-una-marca-en-caso-de-que-haya-cambiado-de-plan-en-alguno-de-los-tres-meses.-(subilo-al-repositorio-en-un-archivo-.csv)" data-toc-modified-id="Crear-una-marca-en-caso-de-que-haya-cambiado-de-plan-en-alguno-de-los-tres-meses.-(subilo-al-repositorio-en-un-archivo-.csv)-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Crear una marca en caso de que haya cambiado de plan en alguno de los tres meses. (subilo al repositorio en un archivo .csv)</a></span><ul class="toc-item"><li><span><a href="#Guardado-de-Respuesta" data-toc-modified-id="Guardado-de-Respuesta-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Guardado de Respuesta</a></span></li></ul></li><li><span><a href="#Cuantos-clientes-que-se-encuentran-en-CABA-cambiaron-de-plan." data-toc-modified-id="Cuantos-clientes-que-se-encuentran-en-CABA-cambiaron-de-plan.-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Cuantos clientes que se encuentran en CABA cambiaron de plan.</a></span><ul class="toc-item"><li><span><a href="#Respuesta" data-toc-modified-id="Respuesta-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Respuesta</a></span></li></ul></li><li><span><a href="#Que-provincia-tiene-el-promedio-mensual-de-facturación-más-alta" data-toc-modified-id="Que-provincia-tiene-el-promedio-mensual-de-facturación-más-alta-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Que provincia tiene el promedio mensual de facturación más alta</a></span><ul class="toc-item"><li><span><a href="#Respuesta" data-toc-modified-id="Respuesta-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Respuesta</a></span></li></ul></li></ul></li></ul></div>

# Instructivo del Desafio

En el link que se encuentra debajo vas a encontrar cuatro tablas que contienen: 
+ Cliente.csv : Nro_Cliente mes plan_mes ;
+ Facturacion.csv: nro_cliente mes facturacion_mes 
+ llamadas.csv: Nro_cliente mes tipo_llamada Cantidad_Llamadas Duracion_Llamadas_minutos;
+ Provincia: Nro_Cliente provincia

https://drive.google.com/drive/folders/1YoDJTtHgTSlhmhtQPBCNoz32ntHhRDTv?usp=sharing 

Preguntas a Resolver:
+ 1- Crear una marca en caso de que haya cambiado de plan en alguno de los tres meses. (subilo al repositorio en un archivo .csv)
+ 2- Cuantos clientes que se encuentran en CABA cambiaron de plan.
+ 3- Que provincia tiene el promedio mensual de facturación más alta

# Setup

In [148]:
import pandas as pd
pd.set_option('display.max_columns', 1000) # Show all columns when looking at dataframe
pd.set_option('display.max_rows', 1000) # Show all rows when looking at dataframe
pd.set_option('display.max_colwidth', 100000)

In [149]:
# Feature dtypes  MISSING VALUES AND UNIQUE VALUES
def df_summary(df):
    '''
    input the dataframe, and it will return a summary table with columns datails.
    '''
    #create a dataframe call summary
    summary = pd.DataFrame(df.dtypes, columns=['dtype'])

    # Number of Missing values (-1 count)
    summary['num_missing'] = df.isna().sum().values    

    # Number of unique values by features
    summary['num_uniques'] = df.nunique().values
    
    return summary

# DATASETS

In [173]:
cliente = pd.read_csv('cliente.csv', delimiter = ';')
facturacion = pd.read_csv('facturacion.csv', delimiter = ';')
llamadas = pd.read_csv('llamadas.csv', delimiter = ';')
provincia = pd.read_csv('provincia.csv', delimiter = ';' , encoding='latin-1')

# Limpiezas necesarias para resolver

In [174]:
provincia.provincia.unique()

array(['Chaco', 'Santa Fe', 'Córdoba', 'Salta', 'Corrientes',
       'Buenos Aires', 'Tierra Del Fuego', 'Tucumán',
       'Ciudad Autónoma De Buenos Aire', 'Catamarca', 'Misiones',
       'Entre Ríos', 'Ciudad Autonoma De Buenos Aire', 'Jujuy',
       'Río Negro', 'Santiago Del Estero', 'La Rioja', 'San Juan',
       'Formosa', 'Neuquén', 'Mendoza', 'San Luis', 'Cordoba',
       'Santa Cruz', 'Entre Rios', 'Chubut', 'Tucuman', 'La Pampa'],
      dtype=object)

In [175]:
provincia['provincia'] = provincia['provincia'].replace('Ciudad Autonoma De Buenos Aire','Ciudad Autonóma De Buenos Aires')
provincia['provincia'] = provincia['provincia'].replace('Ciudad Autónoma De Buenos Aire','Ciudad Autonóma De Buenos Aires')
provincia['provincia'] = provincia['provincia'].replace('Cordoba','Córdoba')
provincia['provincia'] = provincia['provincia'].replace('Tucuman','Tucumán')
provincia['provincia'] = provincia['provincia'].replace('Entre Rios','Entre Ríos')

In [208]:
df_summary(provincia)

              dtype  num_missing  num_uniques
provincia    object            0           24
nro_cliente   int64            0        10900

In [209]:
df_summary(facturacion)

               dtype  num_missing  num_uniques
facturacion  float64            0         2851
nro_cliente    int64            0        10900
mes            int64            0            3

In [210]:
df_summary(cliente)

                dtype  num_missing  num_uniques
Plan_mes        int64            0          196
mes             int64            0            3
nro_cliente     int64            0        10900
cambio_de_plan  int32            0            2

In [211]:
df_summary(llamadas)

                            dtype  num_missing  num_uniques
Cantidad_Llamadas           int64            0           30
Duracion_Llamadas_minutos   int64            0          727
nro_cliente                 int64            0         1191
mes                         int64            0            3
tipo_llamada               object            0            2

# Respuestas

## Crear una marca en caso de que haya cambiado de plan en alguno de los tres meses. (subilo al repositorio en un archivo .csv)

In [176]:
cliente = cliente.sort_values(by=['nro_cliente','mes'], ascending=True)
cliente.head(5)

       Plan_mes  mes  nro_cliente
0         95729    1            1
13235     95729    2            1
21718     96810    3            1
2         96400    1            2
13236     96400    2            2

In [177]:
#Creo Flag
cliente['cambio_de_plan'] = cliente.groupby("nro_cliente")["Plan_mes"].shift().bfill().ne(cliente['Plan_mes']).astype(int)

In [178]:
#Control
cliente.head(25)

       Plan_mes  mes  nro_cliente  cambio_de_plan
0         95729    1            1               0
13235     95729    2            1               0
21718     96810    3            1               1
2         96400    1            2               0
13236     96400    2            2               0
21720     96400    3            2               0
1         96410    1            3               0
13237     96410    2            3               0
21719     96410    3            3               0
4         95420    1            4               0
13239     96413    2            4               1
21721     96413    3            4               0
3         95729    1            5               0
13238     96810    2            5               1
21722     96810    3            5               0
5         96409    1            6               0
13240     96409    2            6               0
21723     96810    3            6               1
7         95982    1            7               0
13262     95982    2            7               0
21724     95982    3            7               0
6         94497    1            8               0
13263     97120    2            8               1
21725     97120    3            8               0
8         96262    1            9               0

### Guardado de Respuesta

In [158]:
cliente.to_csv("Respuesta_1.csv", index = False)

##  Cuantos clientes que se encuentran en CABA cambiaron de plan.

In [179]:
df = pd.merge(cliente, provincia,
                  on='nro_cliente')

In [186]:
Cambio_Plan_Por_Provincia = df.groupby('provincia')['cambio_de_plan'].sum()
Cambio_Plan_Por_Provincia

provincia
Buenos Aires                       1624
Catamarca                            80
Chaco                               266
Chubut                                7
Ciudad Autonóma De Buenos Aires     731
Corrientes                          219
Córdoba                             651
Entre Ríos                          225
Formosa                             110
Jujuy                               181
La Pampa                              2
La Rioja                             70
Mendoza                              93
Misiones                            265
Neuquén                              15
Río Negro                            17
Salta                               285
San Juan                             56
San Luis                             12
Santa Cruz                            8
Santa Fe                            587
Santiago Del Estero                 205
Tierra Del Fuego                      5
Tucumán                             356
Name: cambio_de_plan, dtype: int32

### Respuesta

En CABA cambiaron de Plan 731 Clientes en alguno de los tres meses

##  Que provincia tiene el promedio mensual de facturación más alta

In [191]:
df1 = pd.merge(facturacion, provincia,
                  on='nro_cliente')

In [193]:
df1.sample(5)

       facturacion  nro_cliente  mes                        provincia
12886     409.9789         4296    2              Santiago Del Estero
15486     409.9789         5163    1                         Misiones
7702      393.9013         2568    2                       Santa Cruz
32628     339.5750        10877    1                         Misiones
24421     409.9789         8141    2  Ciudad Autonóma De Buenos Aires

In [205]:
df1.groupby('provincia')['facturacion'].mean().sort_values()

provincia
Santiago Del Estero                483.480753
Jujuy                              484.135215
San Luis                           485.130199
Misiones                           485.319631
Salta                              488.216036
Formosa                            489.255902
San Juan                           490.284235
Mendoza                            493.754622
Chaco                              500.190710
Tucumán                            507.036331
Catamarca                          511.565563
Buenos Aires                       513.593041
Santa Cruz                         519.226131
Corrientes                         522.017730
Entre Ríos                         529.341842
Córdoba                            535.527206
Chubut                             551.167236
Santa Fe                           552.297424
Neuquén                            572.055213
La Pampa                           577.518133
La Rioja                           591.534447
Ciudad Autonóma De Buenos Aires    606.174212
Río Negro                          639.628144
Tierra Del Fuego                   658.833158
Name: facturacion, dtype: float64

### Respuesta

La provincia que tiene el promedio mensual de Facturacion mas Alta es TIERRA DEL FUEGO CON $658.83